trigger:
- main

pool:
  name: 'Default'

variables:
  imageName: 'mywebapp'

steps:
- task: Docker@2
  displayName: 'Build and Push Docker image'
  inputs:
    command: 'buildAndPush'
    repository: '$(imageName)'
    dockerfile: '**/Dockerfile'
    containerRegistry: 'MyACRConnection'  # service connection
    tags: |
      latest

- task: SSH@0
  displayName: 'Deploy to Azure VM'
  inputs:
    sshEndpoint: 'VMConnection'
    runOptions: 'inline'
    inline: |
      echo "$(ACR_PASSWORD)" | sudo docker login tcontainerregistry.azurecr.io -u "$(ACR_USERNAME)" --password-stdin
      sudo docker pull tcontainerregistry.azurecr.io/$(imageName):latest
      sudo docker stop webapp || true
      sudo docker rm webapp || true
      sudo docker run -d -p 80:80 --name webapp tcontainerregistry.azurecr.io/$(imageName):latest
